:root {
  --lilac: #beaee2;
  --white: #f9f9f9;
  --lightpink: #f7dbf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
}


.navbar-container {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #c8a1e0;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;

}

.navbar {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  flex: 1;
  
}

.navbar ul {
  
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  border-radius: 0px;
  position: relative;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; 
}
.navbar li::before {
content: '';
position: absolute;
top: 50%;
left: 50%;
width: 0;
height: 0;
background-color: #E2BBE9;
transition: all 0.3s ease-in-out;
border-radius: 20px;
z-index: -1;
}

.navbar li:hover::before {
  
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.navbar a {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 9px;
}

.navbar span {
  font-size: 14px;
}


#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}

.g {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
  color: #ffff;
  text-shadow: 0px 0px 20px #db82eb;

}

.g:hover {
  text-shadow: 0px 0px 20px #f7dbf0c9;
  transition: 0.3s ease-in-out;
}


.logotext {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff  ;
}

.logotext h1 {
  text-shadow: 0px 0px 20px #db82eb;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-size: 110px;
}

.logobutton {
  display: flex;
  justify-content: center;
}

.logobutton img {
  width: 19px;
  margin-right: 9px;
}

.logobutton button {
  text-decoration: none;
  border: none;
  text-shadow: 2px 2px 20px #f7dbf0e7;
  margin-top: 130px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffffaf;
  outline: 2px solid var(--lightpink);
  font-size: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

.logobutton button:hover {
  transform: translateY(-20%);
  box-shadow: 0px 0px 20px 10px #ffffffaf;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

audio {
  display: none;
}

#controlButton {
  border-radius: 0px 10px 10px 0px;
  padding: 10px 10px;
  background-color: #c8a1e0be;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#controlButton:hover {
  box-shadow: 0px 0px 20px 10px #ffffffaf;
}
